<h1>Welcome to EV Station Finder</h1>
<p>Search for nearby EV charging stations and get pertinent 
   information about them such as a 10 hour forecast and 
   driving directions from your set location. Register for an 
   account to save your favorite stations</p>
<%= button_to "Sign Up", signup_path %>
<%= button_to "Log In", login_path, method: :post %>