/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.errors {
  color: red;
}

 /* Create two equal columns that floats next to each other */
 .column {
   display: inline-block;
   width: 50%;
   float: left;
   height: 100px;
 }

/* Style nav bar */
.container {
  width: 100%;
  height: 50px;
}
.form-container {
  width: 100%;
}

header {
  background: #55d6aa;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
nav {
  float: center;
  min-height: 100vh
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 35px;
}
nav a {
  color: #444;
  text-decoration: none:
  text-transform: uppercase;
  font-size: 14px;
}